@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Sunflower:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  height: 100%;
}

header {
  background-color: rgba(51, 51, 51, 0.8);
  height: 80px;
  width: 100%;
  margin: 0;
}

.logo-container-top {
  float: left;
  margin: 10px 30px;
}

.logo-container-top img {
  width: 155px;
  height: 55px;
}

#container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  height: auto;
}

/*  TYPOGRAPHY STYLING  */
a {
  text-decoration: none;
}

h1 {
  font-family: Sunflower, sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  color: white;
  font-size: 3rem;
}

h2 {
  font-family: Sunflower, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #333;
  margin: 5px auto;
}

h3 {
  font-family: Sunflower, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #333;
  margin: 5px auto;
}

h4 {
  font-family: Sunflower, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
}

p {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333;
}

.bullet {
  color: #B70000;
  margin: 0 1rem;
}

/*  BUTTON STYLING  */
.red-button {
  background-color: rgba(183, 0, 0, 1);
  border: none;
  padding: 5px 15px;
  line-height: 50px;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.red-button h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

hr {
  border-top: 4px solid #B70000;
  width: 30%;
  margin: 5px auto;
}

/*  NAVEGATION LINKS STYLING */
#menu {
  font-size: 110%;
  letter-spacing: 4px;
}

#menu,
#logo {
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: #fff;
  font-family: Sunflower, sans-serif;
}

#menu a:hover {
  border-bottom: 1px solid #B70000;
}

.active {
  border-bottom: 4px solid #B70000;
}

/*  HERO BANNER   */
.hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#index-hero-image {
  height: 600px;
  width: 100%;
  background: url('../images/cover-errigal600.webp') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#hikes-hero-image {
  height: 600px;
  width: 100%;
  background: url('../images/cover-cliffs.webp') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#cover-text {
  background-color: rgba(183, 0, 0, .7);
  padding: 10px;
  left: 10%;
  top: 450px;
  position: absolute;
  border-radius: 20px;
}

/*  INDEX PAGE - INTRO  */
#introduction {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/*  INDEX PAGE - FEATURE HIKES  */
#features-outer-container {
  margin: 25px;
  text-align: center;
  min-height: 500px;
}

#feature-row {
  width: 80%;
  margin: 0 auto 0 auto;
  display: inline-block;
}

#feature-left {
  width: 30%;
  padding-top: 25px;
  float: left;
  text-align: center;
}

#feature-right {
  width: 30%;
  padding-top: 25px;
  float: right;
  text-align: center;
}

#feature-center {
  width: 30%;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  display: inline-block;
}

.feature-description {
  padding: 10px 20px;
  margin: 0 auto;
}

.feat-photo {
  width: 344px;
  height: 234px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

#feature-photo-left {
  background-image: url('../images/hike-carrauntoohil.webp');
}

#feature-photo-middle {
  background-image: url('../images/hike-donegal2.webp');
}

#feature-photo-right {
  background-image: url('../images/hike-clifs-moher.webp');
}

/*  INDEX PAGE - MEET THE TEAM  */
#team-outer-container {
  margin: 25px auto 0;
  text-align: center;
  position: relative;
  background-color: #dedede;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 680px;
  height: auto;
  width: 100%;
}

#team-row {
  padding-top: 15px;
  margin: 20px auto;
  width: 80%;
}

.team-card {
  width: 30%;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
}

.team-card h4 {
  color: #333;
}

.team-card-left {
  float: left;
}

.team-card-right {
  float: right;
}

.team-photo {
  margin: 0 auto 10px auto;
  width: 280px;
  height: 280px;
  text-align: center;
  border-radius: 50% 50%;
  overflow: hidden;
  background-size: contain;

}
.team-photo img {
  max-width: 100%;
  height: auto;
}

.team-card p {
  padding: 15px 20px 50px 15px;
}

/*  HIKE PAGE - INTRO  */
#hike-intro {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 100%;
  display: flex;
  padding-left: 30px;
}

#hike-intro-left {
  text-align: left;
  margin-left: 100px
}

#hike-intro-right {
  margin: 0 auto;
}

#hike-intro h4 {
  font-size: 150%;
  font-weight: 500;
  margin: 25px auto 10px;
}

#hike-intro ul,
li {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #333;
  text-decoration: none;
}

/* === HIKE PAGE - Tours Cards ===  */
#tour-outer-container {
  margin: 15px auto;
  text-align: center;
  padding: 10px 20px;
}

.tour-row {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2rem;
  text-align: center;
}

.tour-cards {
  width: 100%;
  padding-top: 25px;
  text-align: center;
  background: white;
  box-shadow: 10px 10px 8px #C6CDCE;
}

.tour-description {
  padding: 10px 20px;
  margin: 0 auto;
}

.tour-photo {
  width: 80%;
  height: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.tour-photo img {
  height: 100%;
  width: auto;
}

#cta-more-hikes {
  margin-top: 30px;
}

/*  CONTACT PAGE  */
.form-section {
  clear: left;
  background: url("../images/fullpage-mtbrandon3.webp");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #333;
  min-height: 100vh;
  margin-top: 0;
  position: relative;
}

.form-section img {
  height: 100%;
  width: auto;
}

.form-section p {
  margin-top: 20px;
  color: #C6CDCE;
  font-size: 14px;
}

#fullcover-title-wrap {
  position: absolute;
  left: 10%;
  top: 30px;
}

.fullcover-title {
  background-color: rgba(183, 0, 0, .7);
  padding: 10px;
  border-radius: 20px;
}

/*  CONTACT FORM  */
.message-form {
  margin: 130px 10% 0 0;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.8);
  max-width: 500px;
  height: auto;
  position: absolute;
  left: 10%;
  padding: 20px;
}

.message-form h1,
h4 {
  color: #fff;
  margin-bottom: 20px;
}

.message-form label,
input,
textarea {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.message-form h2,
h {
  color: #fff;
}

.form-radio {
  margin: 0 5px 0 20px;
}

.message-form textarea {
  height: 120px;
  padding: 5px;
}

.text-input {
  background: transparent;
  color: #fff;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 5px;
}

.text-input:hover {
  border-color: #D70000;
}

.form-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #D70000;
  color: #fff;
  display: block;
  font-size: 1.5rem;
}

.form-button:hover {
  background-color: #fff;
  color: #D70000;
}

/*  Thankyou Page  */
.thankyou-section {
  clear: left;
  background: url("../images/fullpage-mtbrandon.webp");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #333;
  min-height: 100vh;
  margin-top: 0;
  position: relative;
}

.thankyou-section img {
  height: 100%;
  width: auto;
}


.thankyou-section p {
  margin-top: 20px;
  color: #C6CDCE;
  font-size: 14px;
}

#back-to-home {
  text-align: center;
  margin-top: 10px;
}

/*  FOOTER  */
#footer {
  background-color: #333;
  height: 170px;
  border-top: 8px solid #D70000;
  margin-top: auto;
  clear: both;
  padding: 1em 1em 3em;
  color: #fff;
  text-align: center;
}

.footer-wrap {
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
}

#footer p {
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

.footer-address {
  margin: 15px auto;
  align-self: center;
  width: 100%;
}


.socialmedia {
  width: 100%;
  margin: 0 auto;
}

.socialmedia-list>li {
  display: inline;
  list-style-type: none;
}

.socialmedia-list i {
  font-size: 180%;
  margin: 10px auto;
  padding: 10px;
  color: #fff;
}

/* Media Queries */
/* For large to medium screens sizes from 1200px wide and down  */
@media screen and (max-width: 1200px) {
  .logo-container-top {
    margin: 10px auto 10px 10px;
  }

  nav {
    text-align: center;
    margin-top: 0;
  }

  #menu {
    font-size: 95%;
    letter-spacing: 0;
    margin: 0 auto;
  }

  #menu,
  #logo {
    line-height: 80px;
  }

  .hero-outer {
    height: 500px;
    width: 100%;
    background-position: top;
  }

  #cover-text {
    padding: 7px;
    left: 2%;
    top: 150px;
    max-width: 75%;
  }

  h1 {
    font-size: 2rem;
    letter-spacing: normal;
  }

  #features-outer-container {
    margin: 10px;
  }

  #feature-row {
    width: 100%;
    display: block;
  }

  #feature-left,
  #feature-right,
  #feature-center {
    width: 100%;
    padding-top: 15px;
    float: none;
    display: block;
  }

  .feature-description {
    padding: 10px;
    margin-bottom: 15px;
  }

  #team-row {
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    height: auto;
  }

  .team-card {
    width: 100%;
    display: block;
  }

  .team-card h4 {
    color: #B70000;
    font-weight: 500;
  }

  .team-card-left,
  .team-card-center,
  .team-card-right {
    text-align: center;
    background-color: #e1e1e1;
    width: 100%;
    margin: auto 0;
  }

  .team-photo {
    width: 200px;
    height: 200px;
  }

  .team-photo img {
    max-height: 100%;
    width: auto;
  }

  .team-card p {
    padding: 15px 20%;
  }

  /* --- Hikes Page --  */
  .tour-row {
    grid-template-columns: 45% 45%;
  }
}

/* // Medium devices (tablets, less than 992px)  */
@media screen and (max-width: 991.98px) {
  header {
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 2%;
    top: 0;
  }

  #menu {
    font-size: 95%;
    letter-spacing: 0;
    margin: 0 auto;
  }

  #menu,
  #logo {
    line-height: 120px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  header {
    height: 140px;
    width: 100%;
    text-align: center;
    padding: 2%;
    top: 0;
  }

  .logo-container-top {
    width: 50px;
  }

  nav {
    text-align: center;
    margin-top: 5%;
  }

  #menu li {
    margin: 10px;
  }

  #menu {
    font-size: 90%;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0 auto;
  }

  #menu,
  #logo {
    line-height: 120px;
  }

  .hero-outer {
    height: 300px;
    margin-top: 0;
  }

  #index-hero-image,
  #hikes-hero-image {
    min-height: 300px;
    margin-top: 0;
    background-position: top;
  }

  #index-hero-image,
  #hikes-hero-image img {
    height: 100%;
  }

  /* --- Hikes Page --  */
  #hike-intro {
    margin: 5px;
    padding: 0;
  }

  #hike-intro-left {
    margin: 20px;
  }

  #hike-intro-right {
    display: none;
  }

  #our-hikes-title h2 {
    font-size: 120%;
  }

  .tour-row {
    grid-template-columns: 100%;
  }

  .tour-cards {
    width: 100%;
    padding-top: 15px;
    text-align: center;
    background: white;
    box-shadow: 4px 4px 2px #888888;
  }

  /* --- Contact Page ----  */
  .form-section {
    min-height: 1100px;
  }
}