@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Sunflower:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #333;
}

    h1 {
        font-family: Sunflower, sans-serif;
        font-weight: 500;
        letter-spacing: 4px;
        color: white;
    }

    h2, h3 {
    font-family: Sunflower, sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    color: #333333;
    }

    p {
        font-family: Lato, sans-serif;
        font-size: 16px;
        color:#333333;
    }

/* Header, Logo and Navegation  */

header {
    background-color: rgba(51, 51, 51, 0.7);
      height: 80px;
      width: 100%;
    }

    #logo-container {
        float: left;
        margin: 10px 30px;
    }


    /* navigation links */

    #menu {
        font-size: 110%;
        letter-spacing: 4px;
    }

    #menu, #logo {
        line-height: 75px;
    }

    #menu li {
        float: right;
        list-style-type: none;
        margin-right: 30px;
    }

    #menu a {
        text-decoration: none;
        color: white;
    }

    #menu a:hover {
        border-bottom: 1px solid #B70000;
    }

    .active {
        border-bottom: 4px solid #B70000;
    }


/* Button styling */

 .red-button {
    background-color: rgba(183, 0, 0, 1);
    border: none;
    padding: 5px 15px;
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.red-button h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

/* Hero Banner  */

#hero-container {
    height: 650px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 650px;
    width: 100%;
    background-image: url('../images/cover-errigal.jpg');
    margin: 0%;
    text-align: center;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#cover-text {
    font-size: 1.75rem;
    font-family: Sunflower, sans-serif;
    padding: 5px;
    background-color: rgba(183, 0, 0, .7);
    text-align: center;
    margin: 400px 25% auto 25%;
    position: relative;
}

/* Introduction */

#intro {
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
}

#intro hr {
    border-top: 4px solid #B70000;
    width: 30%;
    margin:5px auto;
}


/* Featured Hikes */
#features-outter-container {
margin: 0;
text-align: center;
/* background-color: teal; */
position: relative;
}

#features {
    width: 80%;
    margin: 0 auto 0 auto;
    /* background-color: yellow; */
    font-size: 1.5rem;
}

#feature-left {
    width: 33%;
    padding-top: 25px;
    float: left;
    /* background-color: purple; */
    text-align: center;
    display: inline-block;
}

#feature-right {
    width: 33%;
    padding-top: 25px;
    float: right;
    /* background-color: brown; */
    text-align: center;
    display: inline-block;
}
#feature-center {
    width: 33%;
    margin: 0 auto;
    padding-top: 25px;
    /* background-color: aqua; */
    text-align: center;
    display: inline-block;
}

#hike-photo-left {
    width: 344px;
    height: 234px;
    background-image: url('../images/hike-carrauntoohil.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

#hike-photo-middle {
    width: 344px;
    height: 234px;
    background-image: url('../images/hike-donegal2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;

}

#hike-photo-right {
    width:344px;
    height: 234px;
    background-image: url('../images/hike-burren.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}




/* Call to action Explore More Hikes */

#cta-more-hikes {
margin-top: 25px;
margin-bottom: 25px;
line-height: 75px;
width: 100%;
text-align: center;
/* background-color: pink; */
position: relative;

}


/* MEET THE TEAM */

#team {
    margin: 0;
    text-align: center;
    background-color: teal;
    position: relative;
    }

    .team-card {
        width: 80%;
        margin: 0 auto 0 auto;
        background-color: yellow;
        font-size: 1.5rem;
        float: left;
        background-color: purple;
        text-align: center;
        display: inline-block;
    }

    .team-photo {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
       overflow: hidden;
       background-position: cover;
    }









/* FOOTER */

footer {
    height: 200px;
    background-color: #333;
    border-top: 2px solid #D70000;
}
#footer-container {
  width: 80%;
  display: inline-block;
}
#footer-left {
  float: left;
  width: 40%;
  margin-top: 10px;
  position: absolute;
}

/* #logo-footer {
    margin-top: 10px;
} */


#footer-right {
  float: right;
  width: 40%;
  margin-top: 20px;
  position: relative;
}

.socialmedia-list > li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
    float: right;
    position: relative;
}

.socialmedia-list i {
    font-size: 180%;
    margin: 1% auto;
    padding: 2%;
    color: white;
}

#footer-right p {
  color: white;
}
