@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Sunflower:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #333;
}

/* ===== TYPOGRAPHY STYLING ===== */
h1 {
  font-family: Sunflower, sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  color: white;
  font-size: 3rem;
}

h2 {
  font-family: Sunflower, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #333;
  margin: 5px auto;
}

h3 {
  font-family: Sunflower, sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  color: #333333;
  margin: 5px auto;
}

h4 {
  font-family: Sunflower, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #B70000;
}

p {
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: #333333;
}

/* ===== BUTTON STYLING ===== */
.red-button {
  background-color: rgba(183, 0, 0, 1);
  border: none;
  padding: 5px 15px;
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.red-button h3 {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* ===== HEADER STYLING ===== */
header {
  background-color: rgba(51, 51, 51, 0.8);
  height: 80px;
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}

#logo-container {
  float: left;
  margin: 10px 30px;
}

/* ===== NAVEGATION LINKS STYLING =====*/
#menu {
  font-size: 110%;
  letter-spacing: 4px;
}

#menu, #logo {
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: white;
}

#menu a:hover {
  border-bottom: 1px solid #B70000;
}

.active {
  border-bottom: 4px solid #B70000;
}

/* ==== HERO COVER IMAGES ====  */
#hero-outer {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#index-hero-image {
  height: 500px;
  width: 100%;
  background: url('../images/cover-errigal.jpg') no-repeat center center;
  background-position: center;
  background-attachment: fixed;
}

#hikes-hero-image {
  height: 500px;
  width: 100%;
  background: url('../images/cover-conemara.jpg') no-repeat center center;
  background-position: center;
  background-attachment: fixed;
}

#contact-hero-image {
  height: 500px;
  width: 100%;
  background: url('../images/cover-conemara.jpg') no-repeat center center;
  background-position: center;
  background-attachment: fixed;
}


#cover-text h1 {
  font-size: 2rem;
  font-family: 'Sunflower', sans-serif;
  text-transform: uppercase;
}

#cover-text {
  background-color: rgba(183, 0, 0, .7);
  padding: 5px;
  left: 10%;
  bottom: 50px;
  position: absolute;
}

/* ===== Introduction =====*/
#intro {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#intro hr {
  border-top: 4px solid #B70000;
  width: 30%;
  margin: 5px auto;
}

/* =====Featured Hikes===== */
#features-outter-container {
  margin: 0;
  text-align: center;
  position: relative;
}

#features {
  width: 80%;
  margin: 0 auto 0 auto;
  font-size: 1.5rem;
}

#feature-left {
  width: 33%;
  padding-top: 25px;
  float: left;
  text-align: center;
  display: inline-block;
}

#feature-right {
  width: 33%;
  padding-top: 25px;
  float: right;
  text-align: center;
  display: inline-block;
}

#feature-center {
  width: 33%;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  display: inline-block;
}

#hike-photo-left {
  width: 344px;
  height: 234px;
  background-image: url('../images/hike-carrauntoohil.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

#hike-photo-middle {
  width: 344px;
  height: 234px;
  background-image: url('../images/hike-donegal2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

#hike-photo-right {
  width: 344px;
  height: 234px;
  background-image: url('../images/hike-clifs-moher.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

/* ===== Call to action Explore More Hikes ===== */
#cta-more-hikes {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 75px;
  width: 100%;
  text-align: center;
  position: relative;
}

/* MEET THE TEAM */
#team-outer-container {
  margin: 25px auto 0;
  text-align: center;
  background-color: #C6CDCE;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 25px;
  padding-botom: 70px;
}

#team-row {
  margin: 20px;
  position: absolute;
}

.team-card {
  width: 30%;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
}

.team-card-left {
  float: left;
}

.team-card-center {
  float: center;
}

.team-card-right {
  float: right;
}

.team-photo {
  margin: 0 auto 10px auto;
  width: 280px;
  height: 280px;
  text-align: center;
  border-radius: 50% 50%;
  overflow: hidden;
  background-size: contain;
}

.team-card p {
  padding: 15px 20px 50px 15px;
}

/* ===== FOOTER ===== */
footer {
  height: 250px;
  width: 100%;
  background-color: #333;
  border-top: 8px solid #D70000;
  padding-top: 15px;
  text-align: center;
}

.footer-container {
  position: relative;
  margin: 25px;
}

.footer-logo {
  position: absolute;
  width: 25%;
  margin-left: 25px;
}

#footer-logo-image {
  background-image: url('../images/logo/logo-landscape-white.png');
  height: 60px;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.socialmedia {
  float: right;
  width: 25%;
  text-align: right;
  margin-right: 25px;
}

.socialmedia-list>li {
  display: inline;
  list-style-type: none;
}

.socialmedia-list i {
  font-size: 180%;
  margin: 1% auto;
  padding: 2%;
  color: white;
}
